<!DOCTYPE html>
<html>
<title>Todo App</title>

<head>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> <!--- https jquery --->
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="type/javascript" scr="/static/jquery.min.js"></script> <!--- local jquery --->

    
</head>


<body class = "body">
    
    <body>
        <h1>Todo List</h1>
        <!--- Area for list to be made--->
        <h4>
        <p id="list">
            {% for x in range(0, length) %}
                {{ mylist[x] }}<br><br>
            {% endfor %}
        </p>
        
        <!---
        <script> 
            write()
            document.getElementById("clear").onclick = function() {clearElems()};           //Clear button
            document.getElementById("toRemove").onclick = function() {removeTask()};        //Remove button
            document.getElementById("toAdd").onclick = function() {addTask()};              //Add Button
            
        </script>    
        --->    
            
        </div>
        </h4>   
        <div>
        <p id="errors"></p>
        <div
            style="
                bottom: 0;
                right: 0;
                position: absolute;
                "
            id="buttons">
            <button id="clear" style="width: 100px">Clear</button>
        </div>
        <!---
        <div 
            <form action="" method="post">
                <input type="text" name="toAdd" value="Put a new todo here!{{ request.form.toAdd }}">
                <input type="submit" value="Add"><br>
                <input type="text" name="toRemove" value="Put removal # here!">
                <input type="text" name="toRemove" value="Put a done todo here!{{ request.form.toRemove }}">
                <input type="submit" value="Remove">
            </form>
            
        
        </div>
        --->
        <div 
            style="
                top: 150;
                right: 0;
                position: absolute;
                "
            align="center"
            id="buttons">
            
            <form method="post">
                 <input type="text" id="inputField" name="inputField" value="{{ request.form.inputField }}"><br>
             
                 <input type="submit" name="submit" id="toAdd" style="width: 100px" value="Add Task"></button><br>
                 
                 <input type="submit" name="submit" id="toRemove" style="width: 100px" value="Remove Task"></button><br>
             </form>
         </div>
        
        
    </body> 




</body>








</html>
